body {
    background-color: #13324d; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%, 100% {
    opacity: 1;
  }
  20%, 80% {
    opacity: 0; 
  }
}

@keyframes lumos {
  50% {
    transform: scale(3); 
    box-shadow: 0px 0px 45px 45px white; 
  } 
}

@keyframes lumosMaxima {
  30% {
    transform: scale(5); 
    box-shadow: 0px 0px 80px 80px white; 
  } 
  50% {
    transform: scale(5); 
    box-shadow: 0px 0px 75px 75px white; 
  }
  80% {
    transform: scale(5); 
    box-shadow: 0px 0px 85px 85px white; 
  }
}

#dumbledore {
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.quote {
  color: #fcba03; 
  font-family: 'Tangerine', cursive;
  font-size: 4em; 
  margin: 10px; 
  opacity: 0;
  animation: fadeIn 2s; 
  animation-fill-mode: forwards; 
}

#part2.quote {
  animation-delay: 1s; 
}

#part3.quote {
  animation-delay: 2s; 
}

#light {
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  height: 1px; 
  width: 1px;
  border-radius: 50%; 
  background-color: #13324d; 
}

.faded {
  animation: fadeOut 5s; 
  animation-timing-function: ease-in-out; 
}

.lumos {
  background: radial-gradient(circle, rgba(255,251,241,1) 0%, rgba(255,255,254,1) 11%);
  animation: lumos 5s; 
  animation-timing-function: ease-in-out; 
}

.lumosMaxima {
  background: radial-gradient(circle, rgba(255,251,241,1) 0%, rgba(255,255,254,1) 11%);
  animation: lumosMaxima 5s; 
  animation-timing-function: ease-in-out; 
}


